h1 {
    background-color:#191970;
    color: white;
    padding: 10px;  
    border-radius: 15px;
}
  
#results {
    width: 500px;
    margin-top: 25px;
    padding-top: 10px;
    border: 1px dashed black; 
}